<mat-card class="container-card">
  <mat-toolbar color="primary">
    <span>Producto Venta Frontend - Tarea N° 1</span>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/persona">
      <mat-icon>account_box</mat-icon>
      <span>Persona</span>
    </button>
    <button mat-menu-item routerLink="/producto">
      <mat-icon>store</mat-icon>
      <span>Producto</span>
    </button>
    <button mat-menu-item routerLink="/venta">
      <mat-icon>speaker_notes</mat-icon>
      <span>Venta</span>
    </button>
  </mat-menu>
  <mat-card-content class="container-content">
    <router-outlet></router-outlet>
  </mat-card-content>
</mat-card>
